.sidebar {
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }
  
  .MuiListItem-root {
    padding: 15px;
  }
  
  .MuiListItemIcon-root {
    min-width: 40px;
  }
  
  .MuiListItemText-primary {
    font-size: 16px;
  }
  